{
	"presets": ["react", "stage-3"],
	"plugins": ["transform-async-to-generator", ["transform-runtime", {
		"polyfill": false,
		"regenerator": true
	}], ["transform-class-properties", { "spec": true }]]
}
