{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true,
			"arrowFunctions": true,
			"classes": true,
			"modules": true,
			"defaultParams": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"react"
	],
	"rules": {
		"indent": [
			"error",
			"tab"
		],
		"curly": 0,
		"no-tabs": 0,
		"no-var": 1,
		"no-alert": 1,
		"no-unused-vars": 2,
		"no-const-assign": 2,
		"no-console": [2, {
			"allow": ["warn", "error", "info"],
		}, ],
		"no-mixed-spaces-and-tabs": 2,
		"one-var": 0,
		"quotes": [2, "single"],
		"semi": [2, "never"],
		"no-debugger": 2,
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error",
		"react/no-render-return-value": "error",
		"react/prefer-es6-class": "error",
	}
}