@charset 'utf-8';

@import "_Base";

html, body, #app, .app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

input[type="button"] {
	background-color: white;
	padding: .04rem;
}

.router-enter {
	transform: translate3d(100%, 0, 0);
}
.router-enter.router-enter-active {
	position: absolute;
	transform: translate3d(0%, 0, 0);
	transition: all 250ms ease-in 0s;
}
.router-exit.router-exit-active {
	position: absolute;
	transform: translate3d(100%, 0, 0);
	transition: all 250ms ease-in 0s;
}
.router-exit {
	transform: translate3d(0%, 0, 0);
}
