@charset 'utf-8';

@import "_Base";

html, body, #app, .app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

input[type="button"] {
	background-color: white;
	padding: .04rem;
}

// .transfrom-container {
// 	width: 100%;
// 	height: 100%;
// 	position: relative;
// 	&>div{
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 	}
// }

